extends ../layouts/default

block content
    .container: .jumbotron
        h2 Nutzerkonto
        p
            | Angemeldet als #{user.name.first}&nbsp;#{user.name.last} <br/>
            | User Interface coming soon