extends ../layouts/default

block content
    .container: .jumbotron: .form-div
        form(action="/changePassword", method="post")
            .form-group
                label Bisheriges Passwort
                input.form-control(type="password", name="oldPassword")
            .form-group
                label Neues Passwort
                input.form-control(type="password", name="newPassword")
            .form-group
                label Passwort wiederholen
                input.form-control(type="password", name="newPasswordConfirm")
            button.btn.btn-primary.btn-block(type="submit") Bestätigen