extends ../layouts/default

block content
    .container: .jumbotron: .form-div
        form(action="/login" method="post")
            .form-group 
                label Email
                input.form-control(type="email" name="email")
            .form-group
                label Passwort
                input.form-control(type="password" name="password")
            button.btn.btn-primary.btn-block(type="submit") Anmelden