extends ../layouts/default

block content
    .container: .jumbotron: div(style="max-width: 800px; margin-left: 50%; transform: translateX(-50%);")
        form(action="/login" method="post")
            .form-group 
                label Email
                input.form-control(type="email" name="email")
            .form-group
                label Password
                input.form-control(type="password" name="password")
            button.btn.btn-primary.btn-block(type="submit") Anmelden