extends ../layouts/default

block content 
  .container
    .row
      .col-sm-8#textcolumn
        if page
          h3= page.title
          div!= page.content
        //- .container(
        //-     data-ks-editable= editable(user, { list: 'Page', id: page.id, path: '/'})
        //- )
        //-     h3= page.title
        //-     div!= page.content