extends ../layouts/default

block content
    .container: .div(style='width:100%;')
        .form-group
            label Anzahl von Zeichen
            input#nchars(type='number', value=5, step=1)
        .form-group
            label Anzahl von Passwörtern
            input#npws(type='number' value=100, step=1)
        button.btn.btn-primary(onclick='generate()') Generieren
        hr
        br
        #output


block js
    script.
        const alphabet = 'abcdefghijklmnopqrstuvwxyz0123456789'.split('');
        function getRandomInt(max) {
            return Math.floor(Math.random() * Math.floor(max));
        }
        function generatePW(nChars) {
            let res = ''
            for (let i=0; i<nChars; ++i) {
                let k = getRandomInt(alphabet.length)
                res += alphabet[k]
            }
            return res
        }
        function generate() {
            let nChars = $('#nchars').val()
            let nPws = $('#npws').val()
            $('#output').empty()
            for (let i=0; i<nPws; ++i) {
                let pw = generatePW(nChars)
                $('#output').append(`<p>${pw}</p>`)
            }
        }
