extends ../layouts/default

block content
    .container
        .row: .col-md-12: h3 Projektstekbrief hochladen
        hr
        .row#top
            .col-md-3.col-lg-3.col-sm-3
                #drop Excel (.xlsx) Datei hier ablegen
            .col-md-6.col-lg-6.col-sm-6
                .form-group
                    label(for='file') ...oder hier auswählen
                    input#file.form-control(type='file', value='', style='background: transparent;')
                .form-group
                    label(for='projectId') Projekt ID
                    input.form-control#projectId(type='text', placeholder='ie: 1.2.3', value='') 
            .col-md-3.col-lg-3.col-sm-3
                button#postbtn.btn.btn-primary(onclick="uploadJSON()", disabled) Hochladen
        .row: .col-md-12#out
        hr
        .row#bottom
            h5 Worsheet Auswahl
            #buttons
            #header
                pre#out
                h3 Tabellen Vorschau <br/>
            #grid
            #footnote

block css
    style.
        #grid {
            display: none;
            height: 100px;
        }
        #out {
            display: none;
        }
        #drop{
            border:2px dashed #bbb;
            -moz-border-radius:5px;
            -webkit-border-radius:5px;
            border-radius:5px;
            padding:25px;
            text-align:center;
            width:128px;
        }
        #buttons button {
            display: inline-block;
            padding: 6px 9px;
            margin: 0 2px 0 0;
            font-size: 13px;
            line-height: 24px;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            border: none;
            -moz-user-select: none;
            background-color: #bbb;
            color: white;
        }
        #postbtn {
            float: right;
        }

block js
    script(src='/js/lib/shim.js')
    script(src='https://unpkg.com/xlsx/dist/xlsx.full.min.js')
    script(src='/js/lib/dropsheet.js')
    script(src="//unpkg.com/canvas-datagrid/dist/canvas-datagrid.js")
    script(src='/js/lib/alertify.js')
    script(src='/js/lib/spin.js')
    script(src='/js/admin/project-detail-upload.js')