extends ../layouts/default

block content
    .container
        h4
            if (path && path !== '/')
                a(href= '/uploads/' + upath) &uarr;
            | &nbsp;&nbsp;#{'/' + path}
        if directories.length == 0 && files.length == 0
            p Keine Dateien gefunden
        ul
            each d in directories
                -var filename = '/uploads/' + path + '/' + d
                li
                    a(href= '/uploads/' + path + '/' + d)= d
            form(method='post')
                button.btn.btn-block(type='submit', action='/uploads/' + path) Download Folder

